<!DOCTYPE html>
<html>
  <head>
    <title>GMap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <!-- Just before the closing body tag: -->
    <script type="text/javascript"
         src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCheA1dcCwIYmhv4h04cAD3svWu7Q7UXrw">
    </script>


  </body>
</html>
